absl-py==2.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
cffi==2.0.0
contourpy==1.3.3
cycler==0.12.1
fastapi==0.128.0
flatbuffers==25.12.19
fonttools==4.61.1
idna==3.11
kiwisolver==1.4.9
matplotlib==3.10.8
mediapipe==0.10.9
numpy==2.2.6
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
packaging==25.0
pillow==12.1.0
protobuf==3.20.3
PyAudio==0.2.14
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
six==1.17.0
sounddevice==0.5.3
starlette==0.50.0
supabase==2.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
websocket-client==1.8.0
